html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: #fafafa;
}
.container {
  border: 1px solid red;  
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

/*-------header-------*/

.title {
  text-align: center;
  margin-bottom: 55px;
}
.titleNormal {
  font-size: 27px;
  font-weight: 200;
  margin: 90px 0 0 0;
}
.titleBold {
  font-size: 27px;
  font-weight: 600;
  margin: 0 0 35px 0;
}
.title p {
  font-weight: 200;
  margin: 0;
}

/*-------main-------*/

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-top: 25px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  -webkit-box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.3);
}
.cyan {
  border-top: 5px solid hsl(180, 62%, 55%);
}
.red {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.orange {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.blue {
  border-top: 5px solid hsl(212, 86%, 64%);
}
.card h3 {
  margin: 0;
}
.card p {
  font-weight: 200;
  font-size: 13px;
}
.card img {
  margin-top: 25px;
  width: 64px;
  align-self: flex-end;
} 
@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
    width: 100%;
  }
  .card {
    width: 65vw;
  }
}
@media screen and (max-width: 372px) {
  .card {
    width: 100%;
  }
  .titleNormal {
    font-size: 25px;
  }
  .titleBold {
    font-size: 25px;
  }
  .title p {
    font-size: 16px;
  }
}
