html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: #fafafa;
}


.container {
  margin: 0 auto;
  width: 30%;
}
.title {
  text-align: center;
}
.titleNormal {
  font-size: 27px;
  font-weight: 200;
  margin: 90px 0 0 0;
}
.titleBold {
  font-size: 27px;
  font-weight: 600;
  margin: 0 0 35px 0;
}
.title p {
  font-weight: 200;
  margin: 0;
}

@media (max-width: 372px){
  .container {
    margin: 0;
    width: 100%;
    padding: 0 30px;
  }
  .titleNormal {
    font-size: 25px;
  }
  .titleBold {
    font-size: 25px;
  }
  .title p {
    font-size: 16px;
  }
}